@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #001D39;
  --color-secondary: #0A4174;
  --color-accent: #7BBDE8;
  --color-neon: #00F0FF;
  --color-success: #00D084;
  --color-error: #FF4D6D;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  :root {
    color-scheme: dark;
  }
  
  body {
    background-color: var(--color-primary);
    color: white;
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 100vh;
  }
}
